form {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 0 auto;
}

input {
  margin: 10px 0;
}

button {
  margin: 10px 0;
}

.App {
  text-align: center;
  background-image: linear-gradient(rgb(170, 217, 255), rgb(132, 198, 252), rgb(59, 148, 250));
  padding: 50px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.smurf-container {
  width: 200px;
  margin: 50px auto;
  border: 1px solid black;
  padding: 20px;
  background-color: rgba(146, 224, 235, 0.884);
}

.smurf-container button {
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
}

.smurfs-container {
  border: 2px solid black;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
